<div class="row">
    <div class="col-lg-6">
        <h2>{{accion}} Empleado</h2>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <form [formGroup]="myForm">
            <div class="col-lg-12">
                <mat-form-field appearance="fill" class="edit-container">
                    <mat-label>Tipo de identificacion</mat-label>
                    <mat-select formControlName="typeid">
                        <mat-option *ngFor="let typeid of typeid" [value]="typeid">
                            {{typeid}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div *ngIf="myForm.get('typeid')!.hasError('required') && myForm.get('typeid')!.touched" style="margin-top: -20px;">
                    <span class="mda-form-msg">Este campo es <strong>requerido</strong></span>
                </div>
            </div>
            <div class="col-lg-12">
                <mat-form-field class="edit-container" appearance="fill">
                    <mat-label>Fecha de ingreso</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker touchUi #picker></mat-datepicker>
                </mat-form-field>
                <div *ngIf="myForm.get('date')!.hasError('required') && myForm.get('date')!.touched" style="margin-top: -20px;">
                    <span class="mda-form-msg">Este campo es <strong>requerido</strong></span>
                </div>
            </div>
            <div class="col-lg-12">
                <mat-form-field appearance="fill" class="edit-container" [style.fontSize.px]=16>
                    <mat-label>Documento de identidad</mat-label>
                    <input matInput type="text" formControlName="doc">
                </mat-form-field>
                <div *ngIf="myForm.get('doc')!.hasError('required') && myForm.get('doc')!.touched" style="margin-top: -20px;">
                    <span class="mda-form-msg">Este campo es <strong>requerido</strong></span>
                </div>
                <div *ngIf="myForm.get('doc')!.hasError('maxlength') && myForm.get('doc')!.touched" style="margin-top: -20px;">
                    <span class="mda-form-msg">Este campo debe tener como maximo <strong>20 caracteres</strong></span>
                </div>
            </div>
            <div class="col-lg-12">
                <mat-form-field appearance="fill" class="edit-container" [style.fontSize.px]=16>
                    <mat-label>Nombre Completo</mat-label>
                    <input matInput type="text" formControlName="firstname">
                </mat-form-field>
                <div *ngIf="myForm.get('firstname')!.hasError('required') && myForm.get('firstname')!.touched" style="margin-top: -20px;">
                    <span class="mda-form-msg">Este campo es <strong>requerido</strong></span>
                </div>
                <div *ngIf="myForm.get('firstname')!.hasError('maxlength') && myForm.get('firstname')!.touched" style="margin-top: -20px;">
                    <span class="mda-form-msg">Este campo debe tener como maximo <strong>40 caracteres</strong></span>
                </div>
            </div>
            <div class="col-lg-12">
                <mat-form-field appearance="fill" class="edit-container" [style.fontSize.px]=16>
                    <mat-label>Apellidos</mat-label>
                    <input matInput type="text" formControlName="lastname">
                </mat-form-field>
                <div *ngIf="myForm.get('lastname')!.hasError('required') && myForm.get('lastname')!.touched" style="margin-top: -20px;">
                    <span class="mda-form-msg">Este campo es <strong>requerido</strong></span>
                </div>
                <div *ngIf="myForm.get('lastname')!.hasError('maxlength') && myForm.get('lastname')!.touched" style="margin-top: -20px;">
                    <span class="mda-form-msg">Este campo debe tener como maximo <strong>40 caracteres</strong></span>
                </div>
            </div>
            <div class="col-lg-12">
                <mat-form-field appearance="fill" class="edit-container" [style.fontSize.px]=16>
                    <mat-label>Email (co: Colombia | us: Estados Unidos)</mat-label>
                    <input matInput type="email" formControlName="email">
                </mat-form-field>
                <div *ngIf="myForm.get('email')!.hasError('required') && myForm.get('email')!.touched" style="margin-top: -20px;">
                    <span class="mda-form-msg">Este campo es <strong>requerido</strong></span>
                </div>
                <div *ngIf="myForm.get('email')!.hasError('email') && myForm.get('email')!.touched" style="margin-top: -20px;">
                    <span class="mda-form-msg">Este campo debe tener formato de <strong>Email</strong></span>
                </div>
            </div>
            <div class="col-lg-12">
                <mat-form-field appearance="fill" class="edit-container">
                    <mat-label>Pais de residencia</mat-label>
                    <mat-select formControlName="country">
                        <mat-option *ngFor="let pais of pais" [value]="pais">
                            {{pais}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div *ngIf="myForm.get('country')!.hasError('required') && myForm.get('country')!.touched" style="margin-top: -20px;">
                    <span class="mda-form-msg">Este campo es <strong>requerido</strong></span>
                </div>
            </div>
            <div class="col-lg-12">
                <mat-form-field appearance="fill" class="edit-container">
                    <mat-label>Area</mat-label>
                    <mat-select formControlName="area">
                        <mat-option *ngFor="let area of area" [value]="area">
                            {{area}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div *ngIf="myForm.get('area')!.hasError('required') && myForm.get('area')!.touched" style="margin-top: -20px;">
                    <span class="mda-form-msg">Este campo es <strong>requerido</strong></span>
                </div>
            </div>
            <div class="col-lg-12">
                <button class="btn btn-success btn-lg float-right" [disabled]="myForm.invalid" type="button" (click)="guardarEmpleado()">Aceptar</button>
                <button class="btn btn-secondary btn-lg float-right" routerLink="/" type="button">Cancelar</button>
            </div>
        </form>
    </div>
    <div class="col-lg-4 offset-lg-2">
        <img src="../../../assets/img/cidenet-software-a-la-medida-medellin-black.png" alt="cidenetLogo">
    </div>
</div>