.edit-container {
    width: 100%;
}

.btn-success {
    background-color: #06d6a0;
    border: #06d6a0;
    margin-right: 20px;
}

.btn-secondary {
    background-color: #c1121f;
    border: #c1121f;
}

.mda-form-msg {
    color: #c1121f;
}