<div class="row">
    <div class="col-lg-6">
        <h2>Listado de Empleados</h2>
    </div>
    <div class="col-lg-6" style="text-align: right;">
        <button mat-raised-button color="primary" routerLink="/add">AGREGAR EMPLEADO</button>
    </div>
</div>

<mat-form-field>
    <mat-label>Filtrar empleados</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ej: Juan, Carolina" #input>
</mat-form-field>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>


    <!-- Position Column -->
    <ng-container matColumnDef="typeid">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo de ID </th>
        <td mat-cell *matCellDef="let element"> {{element.typeid}} </td>
    </ng-container>

    <ng-container matColumnDef="TipoDocumento">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha ingreso </th>
        <td mat-cell *matCellDef="let element"> {{element.date | date:'dd/MM/yyyy'}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Documento">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Documento </th>
        <td mat-cell *matCellDef="let element"> {{element.doc}} </td>
    </ng-container>

    <ng-container matColumnDef="Nombres">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombres </th>
        <td mat-cell *matCellDef="let element"> {{element.firstname}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="Apellidos">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellidos </th>
        <td mat-cell *matCellDef="let element"> {{element.lastname}} </td>
    </ng-container>

    <ng-container matColumnDef="Email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <ng-container matColumnDef="Pais">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Pais </th>
        <td mat-cell *matCellDef="let element"> {{element.country}} </td>
    </ng-container>

    <ng-container matColumnDef="area">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Area </th>
        <td mat-cell *matCellDef="let element"> {{element.area}} </td>
    </ng-container>

    <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
        <td mat-cell *matCellDef="let element ; let i=index">
            <a class="pointer" routerLink="edit/{{i}}" style="color: #06d6a0">
                <mat-icon>edit</mat-icon>
            </a>
            <a (click)=eliminarEmpleado(i) class="pointer" style="color: #c1121f;">
                <mat-icon>delete</mat-icon>
            </a>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>